---
layout: null
title: Home
description : Leo Blog
---
<!DOCTYPE html>

<html>
  	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>{{ page.title }}</title>
		{% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
		<meta name="author" content="{{ site.author.name }}">
		<link href="{{ ASSET_PATH }}/assets/themes/css/main.css" rel="stylesheet">
		<!--<link href="{{ ASSET_PATH }}/assets/themes/bootstrap-3/bootstrap/css/bootstrap.min.css" rel="stylesheet">-->
		
		<!-- atom & rss feed -->
		<link rel="shortcut icon" href="/assets/images/favicon.ico">
    	<link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    	<link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">
	</head>
<body>
<div class="wrapper-normal">
	<div class="page home">
    <header class="header-home {% if site.animation %}animated{% endif %}">
        {% if site.about %}
            <a class="link" href="{{ site.url }}/about">
                <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
            </a>
        {% else %}
            <span class="link">
                <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
            </span>
        {% endif %}

        <h1 class="title">{{ site.name }}</h1>
        <h2 class="description">{{ site.bio }}</h2>
				{% include social-links.html %}
    </header>
		{% include icons.html %}

		{% include nav.html %}
	</div>
</div>

{% include JB/analytics-providers/google %}
</body>
</html>
<!--<div class="page-content">
	<div class="wrapper">
		<div class="teaserimage">
			<div class="teaserimage-image" {% if site.cover %}style="background-image: url({{ site.cover | prepend: site.baseurl }})"{% endif %}</div>
		</div>
	</div>
</div>-->

<!--<ul class="posts">
  {% for post in site.posts %}
    <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>-->
<!--<div class="container">
	{% assign posts_collate = site.posts %}
	{% include JB/posts_collate %}
</div>-->
